/* // What is his name?
// Needs to reload to new screen after receiving input?


// Starts with 50% hunger, happiness, energy

// Options: feed, sleep, play, medicate, bathe, stats, scold

// Games: number guessing game, slot machine, matching game */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.main-wrapper {
    text-align: center;
}

.main-wrapper h1 {
    margin: 1em 0;
}

main {
    margin: 0 auto;
    display: grid;
    justify-content: stretch;
    width: 80%;
    height: 80vh;
}

.lcd-screen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    border: 2px solid #888;
    border-radius: 3rem;
    justify-content: center;
    background-color: aliceblue;
}

.action-icon {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    font-size: 3rem;
}

.feed-icon {
    grid-column: 1 / 2;
    grid-row: 1;
}

.sleep-icon {
    grid-column: 2 / 3;
    grid-row: 1;
}

.play-icon {
    grid-column: 3 / 4;
    grid-row: 1;
}

.medicate-icon {
    grid-column: 4 / -1;
    grid-row: 1;
}

.character-screen {
    grid-column: 1 / -1;
    grid-row: 2;
}

.ghost-character {
    width: 65%;
    margin-top: 1rem;
}

.main-wrapper .display-text {
    margin-bottom: 1em;
    display: none;
}

.game-buttons {
    display: none;
}

.play-again {
    display: block;
    margin: 2em auto;
}